/*movie*/
.v1 .nodelist{
    cursor: pointer;
}

.v1 .nodelist .con-list{
}

.v1 .nodelist .con-list .parent-node-box {

}

.v1 .nodelist .con-list .parent-node-box .con-parent {

}

.v1 .nodelist .con-list .parent-node-box .con-parent .explore-window {

}

.v1 .nodelist .con-list .parent-node-box .con-parent .explore-window .con-explore-window{

}

.v1 .nodelist .con-list .child-node-box {
}


.v1 .nodelist .con-list .child-node-box .con-child{
    margin-left: 100px;
}

.v1 .nodelist .con-list .child-node-box>.con-child{
}

.v1 .nodelist .con-list .child-node-box.show>.con-child{
    display: block;
}

.v1 .nodelist .con-list .child-node-box.hidden>.con-child {
    display: none;
}















